###############################################################################
# Mavkora
###############################################################################

* text=auto eol=lf

###############################################################################
# PHP
###############################################################################

*.php      text eol=lf
*.phtml    text eol=lf

###############################################################################
# Blade
###############################################################################

*.blade.php text eol=lf

###############################################################################
# Config
###############################################################################

*.json text eol=lf
*.xml  text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.ini  text eol=lf
*.env  text eol=lf
*.conf text eol=lf

###############################################################################
# JS
###############################################################################

*.js   text eol=lf
*.ts   text eol=lf
*.vue  text eol=lf

###############################################################################
# CSS
###############################################################################

*.css  text eol=lf
*.scss text eol=lf

###############################################################################
# Shell
###############################################################################

*.sh text eol=lf

###############################################################################
# Windows
###############################################################################

*.bat text eol=crlf
*.cmd text eol=crlf

###############################################################################
# Binary
###############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary